<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wanderpi</title>

    <!-- CSS only -->
    <link href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/Leaflet.fullscreen/dist/leaflet.fullscreen.css')}}" rel="stylesheet">

    <!-- <link href="{{ url_for('static', filename='node_modules/leaflet/dist/MarkerCluster.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/leaflet/dist/MarkerCluster.Default.css')}}" rel="stylesheet"> -->

    <link href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css')}}" rel="stylesheet">

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js')}}"></script>
    
    <link href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/maps.css')}}" rel="stylesheet">

    <!-- JavaScript Bundle with Popper -->
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/leaflet.markercluster/dist/leaflet.markercluster-src.js')}}"></script>
 
    <!-- jQuery library -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/Leaflet.fullscreen/dist/Leaflet.fullscreen.min.js')}}"></script>
    
	<script src="{{ url_for('static', filename='js/map_utils.js')}}"></script>

    <script src="{{ url_for('static', filename='js/global_map.js')}}"></script>

    <add name="Access-Control-Allow-Headers" value="*" />
</head>

<body>


<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="background-color: #B6E4FF;">
    <div class="container-fluid">
        <a class="navbar-brand mt-2 mt-lg-0" href="/">
            <img src="{{url_for('static', filename='wanderpi-icon.svg')}}" height="35"  alt="">
        </a>
        
        <h1 class=" mt-2 mt-lg-0">{{ travel.name }}</h1>
        <h4 id="distance-result"> </h4>

    </div>    
</nav>

<div id="dinamic-modal-body">

</div>

<div class="py-4">
    <div class="container-fluid">
        <div class="col-md">
            <div class="card h-100">
                <div class="card-body">
                    
                    <div id="map-container-global" class="map-responsive" style="height: 500px">
                    </div>
                    
                    
                    {% block content %}
                    {% for item in wanderpis %}
                        <script>
                        plot_map("{{ item.lat }}", "{{ item.long }}", "{{ item.name }}", "{{ item.file_thumbnail_path }}", "{{ item.id }}");
                        </script>
                    {% endfor %}
                    {% endblock %}
                    
                </div>
            </div>
          </div>
    </div>
    
</div>

</body>
</html>
