{% from "add_button.html" import render_add_card with context %}
{% from "travel_card.html" import render_travel_card with context %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wanderpi</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <!-- CSS only -->
    <link href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/Leaflet.fullscreen/dist/leaflet.fullscreen.css')}}" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/maps.css')}}" rel="stylesheet">
    
    
    
    <!-- JavaScript Bundle with Popper -->
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
   <!-- 
    <script src="https://osmnames.org/api/v1/autocomplete.js"></script>
    <link href="https://osmnames.org/api/v1/autocomplete.css" rel="stylesheet" /> -->

    <link href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css')}}" rel="stylesheet">

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js')}}"></script>
    <!-- <script src="{{ url_for('static', filename='dist/leaflet-realtime.js')}}"></script> -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>

    <script src="{{ url_for('static', filename='node_modules/Leaflet.fullscreen/dist/Leaflet.fullscreen.min.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/leaflet.motion/dist/leaflet.motion.min.js')}}"></script>

    <script src="{{ url_for('static', filename='js/card_map_handler.js')}}"></script>
    <script src="{{ url_for('static', filename='js/map_utils.js')}}"></script>
    
    <add name="Access-Control-Allow-Headers" value="*" />
</head>

<body>

<!-- Modal -->
<div class="modal fade" id="editTravelModal" tabindex="-1" aria-labelledby="editTravelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editTravelModalLabel">Edit Travel</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
                <label for="name_input_edit" class="col-form-label">Name:</label>
                <input id="name_input_edit" type="text" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="edit_travel_button" type="button" class="btn btn-primary">Edit <i class="bi bi-save"></i></button>
        </div>
      </div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="addTravelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Travel</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
                <label for="name_input" class="col-form-label">Name:</label>
                <input id="name_input" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="destination_input" class="col-form-label">Destination:</label>
                <input id="destination_input" placeholder="Enter your address"  type="text" class="form-control">
            </div>

            <div class="mb-3">
                <label for="start_date_input" class="col-form-label">Start Date:</label>
                <input id="start_date_input" type="date" class="form-control">
            </div>
            <div class="mb-3">
                <label for="end_date_input" class="col-form-label">End Date:</label>
                <input id="end_date_input" type="date" class="form-control">
            </div>
            <!-- <div class="mb-3">
                <label for="travel_notes">Notes</label>
                <textarea class="form-control" id="travel_notes" rows="3"></textarea>
            </div> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" onclick=AddTravel() class="btn btn-primary">Save <i class="bi bi-save"></i></button>
        </div>
      </div>
    </div>
  </div>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="background-color: #B6E4FF;">
    <div class="container-fluid">
        <a class="navbar-brand mt-2 mt-lg-0" href="/">
            <img src="{{url_for('static', filename='wanderpi-icon.svg')}}" height="35"  alt="">
        </a>

        {% if travels|length > 0 %} 
        <h1 class=" mt-2 mt-lg-0">{{ travels|length }} travels</h1>
        {% else %}
        <h1 class=" mt-2 mt-lg-0">No travels</h1>
        {% endif %}

        <div class="d-flex align-items-center">
                
                <button id="new_travel" type="button" data-bs-toggle="modal" data-bs-target="#addTravelModal" class="btn btn-primary me-3"><i class="bi bi-plus-square"></i></button>
                
                <!-- {% if travels|length > 0 %} 
                    <form class="d-flex input-group w-auto">
                        <input
                          type="search"
                          class="form-control"
                          placeholder="Type query"
                          aria-label="Search"
                        />
                        <button
                          class="btn btn-outline-primary"
                          type="button"
                          data-mdb-ripple-color="dark"
                        >
                          Search
                        </button>
                      </form>
                {% endif %} -->
				<button id="logout" type="button" onclick="window.location.href='{{ url_for('user.logout') }}'" class="btn btn-primary me-3"><i class="bi bi-door-open"></i></button>
              
				<button id="shutdown" type="button" onclick="window.location.href='{{ url_for('user.shutdown') }}'" class="btn btn-danger px-3 me-3 mx-3"><i class="bi bi-slash-circle"></i></button>
                
        </div>

    </div>    
</nav>


<div class="py-4">
    <div class="container-fluid">
        <!-- <div class="row hidden-md-up"> -->
            {% block content %}
                {% if travels|length > 0 %}     
                <div class="row">
                    {% for travel in travels %}
                    {{ render_travel_card(travel) }}
                    {% endfor %}
                    {{ render_add_card("#addTravelModal", "New Travel") }}
                    
                {% else %}
                    {{ render_add_card("#addTravelModal", "New Travel") }}

                {% endif %} 
            {% endblock %}    
        <!-- </div> -->
    </div>
</div>

<script src="{{ url_for('static', filename='js/index.js')}}"></script>


</body>
</html>
