<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<script  src="{{ url_for('static', filename='node_modules/three.min.js') }}"></script>
	<script  src="{{ url_for('static', filename='node_modules/panolens.min.js') }}"></script>
	

    <add name="Access-Control-Allow-Headers" value="*" />
</head>

{% block content %}
<script>
    console.log("{{ file.file_path }}")
    const panorama = new PANOLENS.ImagePanorama("{{ file.file_path }}");
    const viewer = new PANOLENS.Viewer();
    viewer.add( panorama );
    
</script>
{% endblock %}    
