<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wanderpi</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/recording-screen-style.css" rel="stylesheet">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <script src="../static/dist/leaflet-realtime.js"></script>

    <add name="Access-Control-Allow-Headers" value="*" />
</head>

<body>

<!-- Modal -->
<div class="modal fade" id="saveWanderpiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Save Wanderpi</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Name:</label>
              <input id="name_input" type="text" class="form-control" id="recipient-name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="save_request_button" type="button" class="btn btn-primary">Save <i class="bi bi-save"></i></button>
        </div>
      </div>
    </div>
  </div>

<!-- style="background-color: #B6E4FF;" -->

<!-- Image and text -->

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="background-color: #B6E4FF;">
  <div class="container">
        <a class="navbar-brand mt-2 mt-lg-0" href="/">
            <img src="{{url_for('static', filename='wanderpi-icon.svg')}}" height="35" class="d-inline-block align-top" alt="">
        </a>
        <h1 class=" mt-2 mt-lg-0">{{ travel.name }}</h1>
        
        <span class="card-text d-inline-block"> {{ travel.start_date }} - {{ travel.end_date }}</span>
        
        <div class="d-flex align-items-center">       
            
            <div id="recording_status_container">
              <span id="recording_status" class="badge mr-1">
                  Camera loaded 
              </span>
            </div>

            <button id="save_file"  type="button" class="navbar-btn btn btn-outline-success mr-3" data-bs-toggle="modal" data-bs-target="#saveWanderpiModal" data-bs-whatever="{{ travel.id }}" >Save Wanderpi <i class="bi bi-save"></i></button>
        </div>
  </div>    
</nav>

<div class="py-4">
<div class="container">
    <div class="row">
      <div class="col-md mb-4">
        <div class="card h-100">
            <div class="card-body">
                <!-- <img class="camera-view-responsive card-img-top" id="video" src="{{ url_for('record.video_feed', camera_id=0) }}"> -->
                <div id="video-card-body">

                </div>

                <div class="gap-2 mx-auto pb-4"> 
                  <select class="form-select" id="videoSource"></select>
                </div> 
                
               
                <div class="container">
                    <div class="gap-2 mx-auto btn-group">
                        <button id="record" type="button" class="btn  btn-outline-info btn-block  btn-responsive ">Record Wanderpi <i class="bi bi-record2"></i></button>
                        <button id="stop" type="button" class="btn btn-outline-danger btn-block btn-responsive ">Stop Recording <i class="bi bi-stop-fill"></i></button>
                        <button id="download_video" type="button"  class="btn btn-outline-secondary btn-block btn-responsive">Download Wanderpi <i class="bi bi-file-arrow-down-fill"></i></button>                   
                    </div>

                    <div class="gap-2 mx-auto pt-4"> 
                      <p class="card-text"  id="video_info_text" > </p>
                    </div> 
                </div> 
            </div>
        </div>
      </div>
      
      <div class="col-md mb-4">
        <div class="card h-100">
            <div class="card-body">
                <div id="map-container-google-1" class="z-depth-1-half map-responsive" style="height: 500px">
                    
                </div>
                <a id="gps_text" > </a>
            </div>
        </div>
      </div>
    </div>
</div>
</div>




<div class="top">
    <div class="recorder" id="recorder" align="center">
        <script type="text/javascript" src="/static/js/recorder.js"></script>
        <script>
            init("{{ travel.id }}");
        </script>
    </div>
</div>


</body>
</html>
