<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wanderpi</title>

    <!-- CSS only -->
    <link href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='css/maps.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
   
    <link href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css')}}" rel="stylesheet">

     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js')}}"></script>

    <!-- jQuery library -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/map_utils.js')}}"></script>
    
    <script src="{{ url_for('static', filename='js/single_video_view.js')}}"></script>

    <add name="Access-Control-Allow-Headers" value="*" />
</head>

<body>

<!-- Modal -->
<div class="modal fade" id="bulkEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Wanderpi</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Name:</label>
              <input id="name_input" type="text" class="form-control" id="recipient-name">
            </div>
            <div class="container mx-auto">
              <h4> Edit file location: </h4> 
              
              <div class="row">
                <div id="map-container-global" style="height: 300px">
              </div>

              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="edit-file" onclick="editSelectedFiles('{{ file.travel_id }}')" type="button" class="btn btn-primary">Save <i class="bi bi-save"></i></button>
        </div>
      </div>
    </div>
  </div>

<!-- style="background-color: #B6E4FF;" -->

<!-- Image and text -->

<nav class="navbar  sticky-top navbar-expand-sm navbar-light bg-light" style="background-color: #B6E4FF;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{url_for('static', filename='wanderpi-icon.svg')}}" width="60" height="60" class="d-inline-block align-top" alt="">
        </a>
        <ul class="navbar-nav mr-auto mt-1 mt-lg-0">
        <ul>
    </div>    
</nav>

<div class="py-4">
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 pb-4">
          <div class="card h-55">
              <div class="card-body" >
                {% block content %}  
                  
                  {% if not file.is_image %}  
                    <video class="player-overlay card-img-top" id="my-video" width="640" height="auto" controls>
                      <source src="{{ file.file_path }}" type="video/mp4">
                    </video>   
					
                    <!-- <script>
                      var player = videojs('my-video');

                      player.vr();
                    </script> -->
                  {% else %}    
                    {% if not file.is_360 %}                
                    <img class="camera-view-responsive card-img-top"  src="{{ file.file_thumbnail_path }}"></img>
                    {% else %}    
                    {% with file=file %}
                        {% include "panorama.html" %}
                    {% endwith %}
                    {% endif %}

                  {% endif %}
                 
                  <h5 class="card-title"> {{ file.name }} </h5>
                  <a> {{ file.created_date }} {{  file.time_duration }} </a>
                  <div class="card-footer text-center bg-transparent border-light" role="group" aria-label="Basic example">
                      <button id="download_video" type="button" onclick="window.location.href='/uploads/{{file.travel_id}}/{{ file.id }}'" class="btn btn-outline-secondary btn-block btn-responsive"><i class="bi bi-file-arrow-down-fill"></i></button>
                      <button id="share_video" type="button"  class="btn btn-outline-secondary btn-block btn-responsive"><i class="bi bi-share"></i></button>
                      <button id="delete_file" type="button"  onclick="window.location.href='/delete_file/{{ file.id }}'"class="btn btn-outline-secondary btn-block btn-responsive"><i class="bi bi-trash"></i></button>
                      <button id="edit_video" type="button"  data-bs-toggle="modal" data-bs-target="#bulkEditModal" class="btn btn-outline-secondary btn-block btn-responsive"><i class="bi bi-pencil"></i></button>
                  </div>
                {% endblock %}    
              </div>
          </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-6 pb-4">
          <div class="card h-55">
              <div class="card-body">
                  <div id="file-map" class="camera-view-responsive" style="height: 480px">
                  </div>
                  <div class="row">
                    <div class="col-md-2 col-xl-6 align-self-center">
                      <h5 class="card-title"> GPS Information: </h3>
                      <p class="ml-5 float-right bi-compass"></i><span id="latitude_text" class="card-text d-inline-block"></span>
                      <p class="ml-5 float-right bi-compass"></i><span id="longitude_text" class="card-text d-inline-block"></span>
                      <p class="ml-5 float-right bi-geo-alt"></i><span id="address_text" class="card-text d-inline-block"></span>
                      <p class="ml-5 float-right bi bi-binoculars"></i><span id="distance-result" class="card-text d-inline-block"></span>
                  </div> 
                  
                  <div class="col-md-2 col-xl-6 align-self-center">
                    <h5 class="card-title"> {{ stop.name }}</h3>
                    <p class="ml-5 float-right bi-compass"></i><span id="latitude_text" class="card-text d-inline-block"> {{ stop.lat }}</span>
                    <p class="ml-5 float-right bi-compass"></i><span id="longitude_text" class="card-text d-inline-block"> {{ stop.long }}</span>
                    <p class="ml-5 float-right bi-geo-alt"></i><span id="address_text" class="card-text d-inline-block">{{ travel.name }}</span>
                    <p class="ml-5 float-right bi bi-binoculars"></i><span id="distance-result" class="card-text d-inline-block">{{ travel.name }}</span>
                </div>
                  </div>
                    
              </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div>
  <script src="/static/js/edit_files.js"> </script>
</div>

<script>
    var lat = '{{ file.lat }}';
    var long  = '{{ file.long }}';
    var address  = '{{ file.address }}';

    showPosition(lat,long, address);

    {% for point in file.get_all_points() %}
          loadPoints("{{ point.lat }}", "{{ point.long }}");
          loadDistanceListFromPoints("{{ point.lat }}", "{{ point.long }}");
    {% endfor %}

    getDistance();

    addCard("{{ file.id }}"); 
</script>


</body>
</html>
