<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wanderpi</title>

    <!-- CSS only -->
    <link href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='css/maps.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
   
    <link href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css')}}" rel="stylesheet">

     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js')}}"></script>

    <!-- jQuery library -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>

	  <script src="{{ url_for('static', filename='js/map_utils.js')}}"></script>

    <script src="{{ url_for('static', filename='js/single_video_view.js')}}"></script>

    {% if not file.is_image %}  
    <link href="{{ url_for('static', filename='node_modules/video.js/dist/video-js.css')}}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='node_modules/video.js/dist/video.min.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/videojs-vr/dist/videojs-vr.min.js')}}"></script>
    {% else %}
    <script src="{{ url_for('static', filename='js/360_handler.js')}}"></script>
    <script src="{{ url_for('static', filename='node_modules/marzipano.js')}}"></script>
    {% endif %}
    
    <add name="Access-Control-Allow-Headers" value="*" />
</head>

<body>

<!-- Modal -->
<div class="modal fade" id="bulkEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Wanderpi</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Name:</label>
              <input id="name_input" type="text" class="form-control" id="recipient-name">
            </div>
            <div class="container mx-auto">
              <h4> Edit file location: </h4> 
              
              <div class="row">
                <div id="map-container-global" style="height: 300px">
              </div>

              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="edit-file" onclick="editSelectedFiles('{{ file.travel_id }}')" type="button" class="btn btn-primary">Save <i class="bi bi-save"></i></button>
        </div>
      </div>
    </div>
  </div>

<!-- style="background-color: #B6E4FF;" -->

<!-- Image and text -->

<nav class="navbar  sticky-top navbar-expand-sm navbar-light bg-light" style="background-color: #B6E4FF;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{url_for('static', filename='wanderpi-icon.svg')}}" width="60" height="60" class="d-inline-block align-top" alt="">
        </a>
        <ul class="navbar-nav mr-auto mt-1 mt-lg-0">
        <ul>
    </div>    
</nav>

<div class="py-4">
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 pb-4">
          <div class="card h-55">
              <div class="card-body" >
                {% block content %}  
                  <!-- <div class="column"> -->
                  {% if not file.is_image %}  
                    <!-- <video class="player-overlay card-img-top" id="my-video" width="640" height="auto" controls>
                      <source src="{{ file.file_path }}" type="video/mp4">
                    </video>   
                    -->
                    {% if not file.is_360 %}     
                    <video
                      id="my-video"
                      class="player-overlay card-img-top video-js"
                      controls
                      preload="auto"
                      width="640"
                      height="264"
                      poster="{{ file.file_thumbnail_path }}"
                      data-setup="{}"
                    >
                      <source src="{{ file.file_path }}" type="video/mp4" />
                      <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that
                        <a href="https://videojs.com/html5-video-support/" target="_blank"
                          >supports HTML5 video</a
                        >
                      </p>
                    </video>
                    {% else %}   
                    <video
                      id="videojs-vr-player"
                      class="player-overlay card-img-top video-js"
                      controls
                      preload="auto"
                      width="640"
                      height="264"
                      poster="{{ file.file_thumbnail_path }}"
                      data-setup="{}"
                    >
                      <source src="{{ file.file_path }}" type="video/mp4" />
                      <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that
                        <a href="https://videojs.com/html5-video-support/" target="_blank"
                          >supports HTML5 video</a
                        >
                      </p>
                    </video>
                    <script>
                      (function(window, videojs) {
                        var player = window.player = videojs('videojs-vr-player');
                        player.mediainfo = player.mediainfo || {};
                        player.mediainfo.projection = '360';
                  
                        // AUTO is the default and looks at mediainfo
                        var vr = window.vr = player.vr({
                          projection: 'AUTO',
                          debug: true,
                          forceCardboard: false,
                          sphereDetail: 64,
                        });
                      }(window, window.videojs));
                    </script>
                    {% endif %}
                    <!-- <script>
                      var player = videojs('my-video');

                      player.vr();
                    </script> -->
                  {% else %}    
                    {% if not file.is_360 %}                
                    <img loading="lazy"  class="camera-view-responsive card-img-top"  src="{{ file.cdn_path }}"></img>
                    {% else %}    
                    {% with file=file %}
                        <div class="camera-view-responsive card-img-top" id="pano"></div>
                        <script>
                        load_360_image("{{ file.file_path }}")
                        </script>
                    {% endwith %}
                    {% endif %}

                  {% endif %}
                 
                  <h5 class="card-title"> {{ file.name }} {{ file.is_360 }}</h5>
                  <h6 class="card-text"> {{ file.created_date }} {{  file.time_duration }} </h6>
                  <div class="card-footer text-center bg-transparent border-light" role="group" aria-label="Basic example">
                      <button id="download_video" type="button" onclick="window.location.href='{{ url_for('files_utils.download_file',travel_id=file.travel_id, filename=file.id) }}'" class="btn btn-outline-secondary btn-block btn-responsive"><i class="bi bi-file-arrow-down-fill"></i></button>
                      <button id="share_video" type="button"  class="btn btn-outline-secondary btn-block btn-responsive"><i class="bi bi-share"></i></button>
                      <button id="delete_file" type="button"  onclick="window.location.href='/delete_file/{{ file.id }}'"class="btn btn-outline-secondary btn-block btn-responsive"><i class="bi bi-trash"></i></button>
                      <button id="edit_video" type="button"  data-bs-toggle="modal" data-bs-target="#bulkEditModal" class="btn btn-outline-secondary btn-block btn-responsive"><i class="bi bi-pencil"></i></button>
                  </div>
				  </div>
                {% endblock %}    
              <!-- </div> -->
          </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-6 pb-4">
          <div class="card h-55">
              <div class="card-body">
                  <div id="file-map-{{ file.id }}" class="camera-view-responsive" style="height: 480px">
                  </div>
                  <div class="row">
                    <div class="col-md-2 col-xl-6 align-self-center">
                      <h5 class="card-title"> GPS Information: </h3>
                      <p class="ml-5 float-right bi-compass"></i><span id="latitude_text" class="card-text d-inline-block"></span>
                      <p class="ml-5 float-right bi-compass"></i><span id="longitude_text" class="card-text d-inline-block"></span>
                      <p class="ml-5 float-right bi-geo-alt"></i><span id="address_text" class="card-text d-inline-block"></span>
                      <p class="ml-5 float-right bi bi-binoculars"></i><span id="distance-result" class="card-text d-inline-block"></span>
                  </div> 
                  
                  <div class="col-md-2 col-xl-6 align-self-center">
                    <h5 class="card-title"> {{ stop.name }}</h3>
                    <p class="ml-5 float-right bi-compass"></i><span id="latitude_text" class="card-text d-inline-block"> {{ stop.lat }}</span>
                    <p class="ml-5 float-right bi-compass"></i><span id="longitude_text" class="card-text d-inline-block"> {{ stop.long }}</span>
                    <p class="ml-5 float-right bi-geo-alt"></i><span id="address_text" class="card-text d-inline-block">{{ travel.name }}</span>
                    <p class="ml-5 float-right bi bi-binoculars"></i><span id="distance-result" class="card-text d-inline-block">{{ travel.name }}</span>
                </div>
                  </div>
                    
              </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div>
  <script src="/static/js/edit_files.js"> </script>
</div>

<script>
    var lat = '{{ file.lat }}';
    var long  = '{{ file.long }}';
    var address  = '{{ file.address }}';

    showPosition(lat,long, address, "{{ file.id }}");

    {% for point in file.get_all_points() %}
          loadPoints("{{ point.lat }}", "{{ point.long }}");
          loadDistanceListFromPoints("{{ point.lat }}", "{{ point.long }}");
    {% endfor %}

    getDistance();

    addCard("{{ file.id }}"); 
</script>


</body>
</html>
