<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wanderpi</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <!-- CSS only -->
    <link href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    
	<!-- <link href="{{ url_for('static', filename='node_modules/Leaflet.fullscreen/dist/leaflet.fullscreen.css')}}" rel="stylesheet"> -->
    
    <link href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/maps.css')}}" rel="stylesheet">
    
    
    
    <!-- JavaScript Bundle with Popper -->
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
   
   <!--  <script src="https://osmnames.org/api/v1/autocomplete.js"></script>
    <link href="https://osmnames.org/api/v1/autocomplete.css" rel="stylesheet" />

    <link href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css')}}" rel="stylesheet">

    <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js')}}"></script>
    <script src="{{ url_for('static', filename='dist/leaflet-realtime.js')}}"></script> -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
    <!-- <script src="{{ url_for('static', filename='node_modules/Leaflet.fullscreen/dist/Leaflet.fullscreen.min.js')}}"></script> -->


    <script src="{{ url_for('static', filename='js/stops_handler.js')}}"></script>
    
	    <!--Import SocketIO-->
    <script src="{{ url_for('static', filename='node_modules/socket.io/client-dist/socket.io.js')}}"></script>

	
    <script> 
        $(document).ready(function() { // this runs as soon as the page is ready (DOM is loaded)
            const script = document.createElement('script');
            script.src = '/static/js/download_handler.js';
            document.head.appendChild(script);
        });
    </script> 
    <add name="Access-Control-Allow-Headers" value="*" />
</head>

<body>



<!-- Modal -->
<div class="modal fade" id="addStopModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Stop</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
                <label for="name_input" class="col-form-label">Name:</label>
                <input id="name_input" type="text" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="save_request_button" onclick=add_stop("{{ travel.id }}") type="button" class="btn btn-primary">Save <i class="bi bi-save"></i></button>
        </div>
      </div>
    </div>
  </div>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="background-color: #B6E4FF;">
    <div class="container-fluid">
        <a class="navbar-brand mt-2 mt-lg-0" href="/">
            <img src="{{url_for('static', filename='wanderpi-icon.svg')}}" height="35"  alt="">
        </a>

        {% if stops|length > 0 %} 
        <h1 class=" mt-2 mt-lg-0">{{ stops|length }} stops</h1>
        {% else %}
        <h1 class=" mt-2 mt-lg-0">No stops</h1>
        {% endif %}

        <div class="d-flex align-items-center">
                
                <button id="new_stop" type="button" data-bs-toggle="modal" data-bs-target="#addStopModal" class="btn btn-primary me-3"><i class="bi bi-plus-square"></i></button>
                
				<button href="#" type="button" class="btn btn-warning btn-fab" data-bs-toggle="modal" data-bs-target="#downloadWanderpisModal" id="download_all_wanderpis_context">
					<i class="bi bi-file-earmark-arrow-down lg-icon-fab"></i>
				  </button>
        </div>

    </div>    
</nav>

<div id="dinamic-modal-body">
    {% with travel=travel, stop=stop, is_travel=True %}
        {% include "download_modal.html" %}
    {% endwith %}
</div>


<div class="py-4">
    <div class="container-fluid">
        <!-- <div class="row hidden-md-up"> -->
            {% block content %}
                {% if stops|length > 0 %}     
                <div class="row">
                    {% for post in stops %}
                        <div class="col-sm-12 col-md-4 col-lg-3 pb-4"> 
                            <div class="card h-100">
                    
                                <div class="card-body">
                                    <!-- <div id="map-container-google-{{ post.id }}" class="camera-view-responsive card-img-top z-depth-1-half map-responsive" style="height: 200px"></div> -->
									<a href="{{ url_for( 'home.stop', stop_id = post.id ) }}"> <img class="camera-view-responsive card-img-top" src="{{ post.get_random_thumbnail() }}" ></img></a>

									
                                    <h5 class="card-title" href="stop/{{ post.id }}"> {{ post.name }} </h5>

                                    <div class="row mb-2">
                                        <div class="col">
                                            <span class="card-text d-inline-block"> {{ post.get_all_wanderpis()|length  }} wanderpis</span>
                                        </div>
                                    </div>
                                    
                                    <!-- <i class="card-text float-right bi bi-calendar4-event"></i><span> {{ post.created_date }}</span>
                                    
                                    <i class="mr-5 float-right bi bi-binoculars"></i><span id="distance-result-{{ post.id }}" class="card-text d-inline-block"></span> -->
                                

                                    <div class="card-footer text-center bg-transparent border-light" role="group" aria-label="Basic example">
                                        <button id="open_stop" type="button"  onclick="window.location.href='{{ url_for( 'home.stop', stop_id = post.id ) }}'" class="btn btn-outline-secondary btn-block btn-responsive"><i class="bi bi-folder2-open"></i></button>    
                                        <button id="share_stop" type="button"  onclick="shareVideo({{ post.id }})" class="btn btn-outline-secondary btn-block btn-responsive"><i class="bi bi-share"></i></button>
                                        <button id="delete_stop" type="button"  onclick="window.location.href='/delete_stop/{{ post.id }}'" class="btn btn-outline-secondary btn-block btn-responsive"><i class="bi bi-trash"></i></button>
                                    </div>

                                   <!--  <script>
                                        initializeMapAndLocator("{{ post.id }}","{{ post.name }}");
                                    </script> -->

                                </div>
                            </div>    
                        </div>
                    {% endfor %}
                    
                    <div class="col-sm-12 col-md-4 col-lg-3 pb-4"> 
                        <div class="card h-100">
                               
                            <div class="card-body">
                                <a data-bs-toggle="modal" data-bs-target="#addStopModal"> <img class="camera-view-responsive mx-auto d-block card-img-top" width="200" height="200" src="/static/images/add-more-icon.svg"></img></a>
                                <h5 class="card-title text-center"> New Stop </h5>
                            </div>
                        </div>    
                    </div>
                </div>
                {% else %}
                    
                    <div class="col-md d-flex"> 
                        <div class="card mx-auto h-100">
                               
                            <div class="card-body">
                                <a data-bs-toggle="modal" data-bs-target="#addStopModal"> <img class="camera-view-responsive mx-auto d-block card-img-top" width="200" height="200" src="/static/images/add-more-icon.svg"></img></a>
                                <h5 class="card-title text-center"> New Stop </h5>
                            </div>
                        </div>    
                    </div>
                {% endif %} 
            {% endblock %}    
        <!-- </div> -->
    </div>
</div>


</body>
</html>
