{% macro render_wanderpi_placeholder(file) %}
{% block content %}  
<div class="card h-55">
    <div class="card-body" >
        {% if not file.is_image %} 
            {% if not file.is_360 %}     
            <video
            id="my-video"
            class="player-overlay card-img-top video-js"
            controls
            preload="auto"
            width="640"
            height="264"
            poster="{{ file.file_thumbnail_path }}"
            data-setup="{}"
            >
            <source src="{{ file.file_path }}" type="video/mp4" />
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
                >
            </p>
            </video>
            {% else %}   
            <video
            id="videojs-vr-player"
            class="player-overlay card-img-top video-js"
            controls
            preload="auto"
            width="640"
            height="264"
            poster="{{ file.file_thumbnail_path }}"
            data-setup="{}"
            >
            <source src="{{ file.file_path }}" type="video/mp4" />
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
                >
            </p>
            </video>
            <script>
            (function(window, videojs) {
                var player = window.player = videojs('videojs-vr-player');
                player.mediainfo = player.mediainfo || {};
                player.mediainfo.projection = '360';
        
                // AUTO is the default and looks at mediainfo
                var vr = window.vr = player.vr({
                projection: 'AUTO',
                debug: true,
                forceCardboard: false,
                sphereDetail: 64,
                });
            }(window, window.videojs));
            </script>
            {% endif %}
        {% else %}    
            {% if not file.is_360 %}                
            <img loading="lazy"  class="camera-view-responsive card-img-top"  src="{{ file.cdn_path }}"></img>
            {% else %}    
            {% with file=file %}
                <div class="camera-view-responsive card-img-top" id="pano"></div>
                <script>
                load_360_image("{{ file.cdn_path }}")
                </script>
            {% endwith %}
            {% endif %}
        {% endif %}
        
        
    </div>
</div> 
{% endblock %}  
{% endmacro %}
