

body {
    background-color: #6F6F6F;
}

.change-my-color {
    width: 200px;
}

/* @media (max-width: 768px) {
    .btn-responsive {
        width: 30px;
        height: 30px;
    }
}
  
@media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
        width: 60px;
        height: 60px;
    }
} */

